* {
	margin: 0px;
	padding: 0px;
}


#noExtension{
	padding-top: 550px;
    text-align: center;
    font-size: 22px;
    position: absolute;
    width: 100%;
    display: none;
}
.secret-wrap {
	margin-top: 80px;
}
.secret-wrap .item{
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	min-height: 80px;
	padding:10px;
	overflow: hidden;
	display: flex;
	align-items: center;
}
.secret-wrap .item:first-child{
	border-bottom: none;
}
.secret-wrap .item:nth-last-child(2){
	border-top: none;
}
.secret-wrap .item .img{
	height: 60px;
	width:60px;
	float: left;
}
.secret-wrap .item .img img{
	width:100%;
	border-radius: 50%;
}

.secret-wrap .item .user{
	width: 100%;
	float: left;
	padding-left: 30px;
}

.secret-wrap .item .user .time{
	font-size: 12px;
	color: #aaa;
	padding-left: 5px;
}
.content{
	margin-top: 10px;
}

.info{
	width:100%;
	display: flex;
	justify-content: space-between;
	color: #999;
}
.reply{
	color: #aaa;
	cursor: pointer;
	transition: color .3s;
}

.reply:hover{
	color: #333;
}

.inp-wrap{
	margin-top: 20px;
	margin-bottom: 50px;
}
.inp-wrap textarea{
	width:500px;
	margin-bottom: 20px;
	margin-top: 20px;
	padding: 10px;
}

[v-cloak] {
  display: none;
}
.link{
	margin-top: 30px;
	text-align: center;
}
.link a{
	color: #000;
}

.main{
	background: url("../img/by2.jpg");
	background-size: auto 530px;
	background-position: center;
	width: 100%;
	height:530px;
	background-repeat: no-repeat;
	position: absolute;
}
.inp1{
	display: flex;
	align-items: center;
}
.inp1 input{
	line-height: 30px;
	text-indent: 10px;
}

.inp1 select{
	margin-left: 20px;
	height: 34px;
}
